body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Report Img */
.report_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.report_container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* End of Report Img */