<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Project | All Locations</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/displayLocations.css}">
</head>
<body>
<h2>Locations:</h2>
<table>
    <tr>
        <th>ID</th>
        <th>CODE</th>
        <th>NAME</th>
        <th>TYPE</th>
    </tr>

    <tr th:each="location:${locations}">
        <td th:text="${location.id}"></td>
        <td th:text="${location.code}"></td>
        <td th:text="${location.name}"></td>
        <td th:text="${location.type}"></td>

        <th><a th:href="@{'deleteLocation?id='+${location.id}}">Delete</a></th>
        <th><a th:href="@{'showUpdate?id='+${location.id}}">Edit</a></th>
    </tr>

</table>
<a href="showCreate">Add Location</a>
</body>
</html>